@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.titre_connexion {
  color: #212121;
  font-weight: bold;
  font-size: 30px;
  margin: 30px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.font_family{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.btn_Form {
  background-color: #fd3131;
  width: 70%;
  color: #F2F2F2;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
  box-shadow: 0 4px 2px #212121;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.modal_transition{
  animation-name: drop_modal;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;

  @keyframes drop_modal {
    0% { opacity: .2;}
    25% { opacity: .4;}
    50% { opacity: .6;}
    75% { opacity: .8;}
    100% { opacity: .9;} 
  }
}
