@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.placeholder_style {
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  text-align: center;
  width: 221px;
  height: 28px;
  filter: drop-shadow(0 2px 2px #212121);
}

.form_signIn {
  width: 350px;
  height: 400px;
  background-color: #fef4f4;
  color: #212121;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.form_SignUp {
  background-color: #fef4f4;
  color: #212121;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.label_style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.password_missing {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 10px;
  color: #212121;
  opacity: 60%;
}

.btn_Form {
  background-color: #fd3131;
  width: 70%;
  color: #F2F2F2;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
  box-shadow: 0 4px 2px #212121;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.title {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}